@import '@/assets/styles/variables.less';
.left {
  width: 25%;
}
.center {
  width: 50%;
  background-color: aqua;
}
.right {
  width: 25%;
  background-color: aquamarine;
}
@media (max-width: 800px) {
  .left {
    width: 35%;
  }
  .center {
    width: 65%;
  }
  .right {
    display: none;
  }
}
